* {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}


body {
  margin: 0px;
  width: 100%;
  background-image:url("");
  background-repeat: no-repeat;
  background-color: black;
  background-size: cover;
  background-size: 100%;
  min-height: 100%;
  line-height: 1.3;
  -webkit-font-smoothing: antialiased;
  overflow-x: hidden;
  font-size: 30px;
  color: #ccc;
}

.begining {
    background-image: url("");
    background-position: top;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    align-items: center;
}

p{
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}
.main-content {
  margin: 0px auto;
  max-width: 1600px;
  min-height: 100vh;
  
  background-image: url("");
  background-repeat: no-repeat;
}

.section-container {
    background-image: url("");
    background-position-y: top;
    background-repeat: no-repeat;
  background-color: black;
  background-size: 100%;
  min-height: 100%;
  line-height: 1.3;
  -webkit-font-smoothing: antialiased;
  overflow-x: hidden;
  font-size: 30px;
  color: #ccc;
    background-position: 0%;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 40%;
}

.imagen-colibri {
    background-image:url("");
    background-repeat: no-repeat;
    height: 100px;
    background-position: 60%;
}

h4 {
  padding-top: 15%;
}

.interactive {
  font-family: 'Times New Roman';
  font-size: 50px;
  padding-top: 30%;
  
}

h1 {
  color: #fff;
  
}
h2 {
  font-size: 25px;
}
h2, h3, h4, h5{
  color: #ccc;
}
.container-redes {
  background-color: #ccc;
}

.side-container {
  width: 40px;
    position: fixed;
    bottom: 0px;
    left: 40px;
    right: auto;
    z-index: 10;
    color: rgb(168, 178, 209);
}

.social-media {
    display: flex;
    flex-direction: column;
    -webkit-box-align: center;
    align-items: center;
    padding: 0px;
    margin: 0px;
    list-style: none;
    font-size: 1.3em;
}

.social-media::after {
  content: "";
  display: block;
  width: 1px;
  height: 90px;
  margin: 0px auto;
  background-color: rgb(168, 178, 209);
}

.iconoGitHub:hover {
  cursor: pointer;
  background-color: rgb(49, 51, 58);
  box-shadow: 1px 1px rgb(168, 178, 209);
  border-radius: 30%; 
}
.logo-whatsapp:hover {
  cursor: pointer;
  background-color: rgb(49, 51, 58);
  box-shadow: 1px 1px rgb(168, 178, 209);
  border-radius: 30%;
}

.linkedin:hover {
  cursor: pointer;
  background-color: rgb(49, 51, 58);
  box-shadow: 1px 1px rgb(168, 178, 209);
  border-radius: 30%;
}
.linkedin {
  margin-bottom: 18px;
}

li {
  display: list-item;
}

p {
  padding-left: 20%;
  padding-right: 20%;
  
}
.stars {
  padding-left: 40px;
  padding-top: 20px;
  display: flex;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
}

.ordered-list {
    display: flex;
    -webkit-box-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    align-items: center;
    padding: 0px;
    margin: 0px;
    list-style: none;
}

ol a {
    display: inline-block;
    text-decoration: none;
    text-decoration-skip-ink: auto;
    color: inherit;
    position: relative;
    transition: all 0.95s cubic-bezier(0.645, 0.045, 0.355, 1) 0s;
    cursor: pointer;
    padding-left: 2em;
    font-size: 0.7em;
    padding-right: 2.5em;
    font-family: 'Times New Roman';
    color:#ccc;
}

span {
  font-size: 35px;
}
ol a:hover {
  color: #f3da35;
}


.nav-style {
    display: flex;
    -webkit-box-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    align-items: center;
    position: relative;
    width: 100%;
    color: rgb(204, 214, 246);
    font-family: "Times New Roman";
    counter-reset: item 0;
    z-index: 12;
  
}
ol {
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  padding-inline-start: 40px;
}

h3 {
    padding-top: 10%;
    position: relative;
    display: flex;
    -webkit-box-align: center;
    justify-content: center;
    align-items: center;
    margin: 10px 0px 40px;
    width: 100%;
    white-space: nowrap;
    font-size: 32px;
    color:#f3da35;
}

.stars-paragraph {

  padding-top: 4.5em;

}

.stars-end {
  padding-left: 50%;
  padding-top: 10%;
}

.motiv-letter {
  display: flex;
    -webkit-box-pack: justify;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
    padding: 0px;
    margin: 0px;
    list-style: none;
}

.formulario {
     
     background-image: url("");
     background-repeat: no-repeat;
     background-position: 100%;
     background-size: 100%;
     background-size: 8em;
    
     --tw-text-opacity: 1;
     color: rgba(248,195,7,var(--tw-text-opacity));
     width: 100%;
     height: 92vh;
     display:flex;
     align-items: center;
     flex-direction: column;
     justify-content: center;
}

select, textarea, .email{ 
  width: 40%;
  padding: 15px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 8px;
  margin-bottom: 20px;
  resize: vertical;
}

.user-name {
 width: 40%;
 padding: 15px;
 border: 1px solid #ccc;
 border-radius: 4px;
 box-sizing: border-box;
 margin-top: 8px;
 margin-bottom: 20px;
 resize: vertical
}
input[type=submit] {
  background-color: #04AA6D;
  width: 40%;
  padding: 15px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  color: white;
  resize: vertical;
  cursor: pointer;
}